@media (min-width: 1500px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1440px;
    }
}
@media (max-width: 1315px){
    .status-inquiry-block, .status-inquiry-block-button{
        width: 100% !important;
    }
}
body{
    background-color: #fff;
    font-family: "Arial Обычный", Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 25px;
}
.page-footer{
    position: absolute; 
    height:  25px;
    background: #000; 
    width: 100%; 
    bottom: 0;
}
.dark{
    background: #000;
}
.p-text-color{
    color: rgb(127, 127, 127);
    font-size: 12px;  
}
.inquiries-block{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
.number_size{
    font-size: 20px;
    font-weight: 400;
}
.send-text{
    color: #E4CC19 !important;
}
.badge-olives{
    border-width: 0px;
    background: inherit;
    background-color: rgba(112, 182, 3, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    text-align: center
}
.btn-olives{
    border-width: 0px;
    background: inherit;
    background-color: rgba(112, 182, 3, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    color: #FFFFFF;
}
.answers-button{
    border-radius: 4px;
    padding: 11px 0px 0px 59px;
    width: 180px;
    height: 36px;
    font-weight: 700;
    font-size: 12px;
        &.success{
            background: #27AE60;
            color: #fff;
            margin-bottom: 12px;
        }
        &.abandon{
            background: #E0E0E0;
            color: #828282;
        }
}
.warehouse-table tr:first-child{
    border-bottom: 2px solid black !important;
    border-top-width: 0px !important;
}
.warehouse-table tr:first-child th{
    color: rgb(127, 127, 127) !important;
    font-size: 12px !important;
    font-weight: normal !important;
}
.example-logo{
    height: 93px;
    width: 93px;
    border-radius: 100%;
    background: #F2F2F2;
}
.example-logo::before{
    content: "ЛОГО";
    position: absolute;
    top: 37px;
    left: 30%;
}
.bg-grey-comment{
    background: #F2F2F2;
}
.underline{
    text-decoration: underline;
}
.status-inquiry-block-button{
    background: #2D9CDB;
    border-radius: 5px;
    color: #F2F2F2;
    font-size: 12px;
    letter-spacing: 0.08em;
    font-weight: 700;
    width: 285px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: none;
}
.badge-new-status{
    background: #27AE60;
    width: 81px;
    height: 34px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}
.status-inquiry-block{
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 345px;
    & p{
        color: #4F4F4F;
        font-size: 12px;
    }
}
.edit-button{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.delete-button{
    font-size: 14px;
    line-height: 16px;
    color: #BDBDBD;
    background: none;
    border: none;
}
.inquiry-index-create-button{
    background: #219653;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
}
.maybe-logo{
    height: 185px;
    width: 185px;
    background: #E0E0E0;
    border-radius: 6px;
}
.navbar-custom{
    height: 81px;
    background: #000;
    & a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
}
.active{
    color: #56CCF2;
    border-bottom: 1px solid #fff;
}
.rounded-icon{
    width: 30px;
    height: 30px;
    background: #C4C4C4;
    border-radius: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    &.medicament{
        background-image: url('../../public/img/medicaments.png');
    }
    &.food{
        background-image: url('../../public/img/food.png');
    }
    &.financial_aid{
        background-image: url('../../public/img/financial_aid.png');
    }
}
.fund-index-logo{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background: #E0E0E0;
}
.fund-show-button{
    width: 165px;
    height: 35px;
    border-radius: 4px;
    background: #2D9CDB;
    display: table-cell;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.border-bottom-funds{
    border-bottom: 1px solid #2D9CDB;
}
.fund-button{
    width: 103px;
    height: 36px;
    border-radius: 4px;
    background: #BDBDBD;
    display: table-cell;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}