.page-footer{
    position: fixed; 
    left: 0; bottom: 0; 
    height: 35px;
    padding: 10px; 
    background: #000; 
    color: #fff; 
    width: 100%; 
}
@media (min-width: 1500px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1440px;
    }
}